@model CDT.Repo.Resistor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Resistor</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.BOM_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BOM_Number)
                    @Html.ValidationMessageFor(model => model.BOM_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BU, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BU)
                    @Html.ValidationMessageFor(model => model.BU)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Product_line, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product_line)
                    @Html.ValidationMessageFor(model => model.Product_line)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Site, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Site)
                    @Html.ValidationMessageFor(model => model.Site)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Thermo_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Thermo_Number)
                    @Html.ValidationMessageFor(model => model.Thermo_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Item_Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item_Description)
                    @Html.ValidationMessageFor(model => model.Item_Description)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category)
                    @Html.ValidationMessageFor(model => model.Category)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Part, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Part)
                    @Html.ValidationMessageFor(model => model.Part)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Part_Type, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Part_Type)
                    @Html.ValidationMessageFor(model => model.Part_Type)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Technology, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Technology)
                    @Html.ValidationMessageFor(model => model.Technology)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Value)
                    @Html.ValidationMessageFor(model => model.Value)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Tol, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tol)
                    @Html.ValidationMessageFor(model => model.Tol)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Temperature___Coefficent, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Temperature___Coefficent)
                    @Html.ValidationMessageFor(model => model.Temperature___Coefficent)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Power, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Power)
                    @Html.ValidationMessageFor(model => model.Power)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Mounting___Style, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mounting___Style)
                    @Html.ValidationMessageFor(model => model.Mounting___Style)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Package, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Package)
                    @Html.ValidationMessageFor(model => model.Package)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Dimensions, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dimensions)
                    @Html.ValidationMessageFor(model => model.Dimensions)
                </div>
            </div>
    
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
