@model CDT.Repo.Fuse

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Fuse</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.BOM_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BOM_Number)
                @Html.ValidationMessageFor(model => model.BOM_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BU, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BU)
                @Html.ValidationMessageFor(model => model.BU)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_line, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_line)
                @Html.ValidationMessageFor(model => model.Product_line)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Site, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Site)
                @Html.ValidationMessageFor(model => model.Site)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thermo_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thermo_Number)
                @Html.ValidationMessageFor(model => model.Thermo_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item_Description)
                @Html.ValidationMessageFor(model => model.Item_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Part)
                @Html.ValidationMessageFor(model => model.Part)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Part_Type)
                @Html.ValidationMessageFor(model => model.Part_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Material, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Material)
                @Html.ValidationMessageFor(model => model.Material)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Blow_speed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Blow_speed)
                @Html.ValidationMessageFor(model => model.Blow_speed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rated_Current, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rated_Current)
                @Html.ValidationMessageFor(model => model.Rated_Current)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Volt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Volt)
                @Html.ValidationMessageFor(model => model.Volt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mounting_Style, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mounting_Style)
                @Html.ValidationMessageFor(model => model.Mounting_Style)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Package_size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Package_size)
                @Html.ValidationMessageFor(model => model.Package_size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dimension, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dimension)
                @Html.ValidationMessageFor(model => model.Dimension)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lead_Spacing_, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lead_Spacing_)
                @Html.ValidationMessageFor(model => model.Lead_Spacing_)
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
