@model CDT.Repo.Connector

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Connector</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BOM_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BOM_Number)
                @Html.ValidationMessageFor(model => model.BOM_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BU, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BU)
                @Html.ValidationMessageFor(model => model.BU)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_line, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_line)
                @Html.ValidationMessageFor(model => model.Product_line)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Site, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Site)
                @Html.ValidationMessageFor(model => model.Site)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thermo_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thermo_Number)
                @Html.ValidationMessageFor(model => model.Thermo_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item_Description)
                @Html.ValidationMessageFor(model => model.Item_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Part)
                @Html.ValidationMessageFor(model => model.Part)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Part_Type)
                @Html.ValidationMessageFor(model => model.Part_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_Contact_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact_Contact_Type)
                @Html.ValidationMessageFor(model => model.Contact_Contact_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_Surface, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact_Surface)
                @Html.ValidationMessageFor(model => model.Contact_Surface)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max___Temperature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max___Temperature)
                @Html.ValidationMessageFor(model => model.Max___Temperature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.No_of___Rows, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No_of___Rows)
                @Html.ValidationMessageFor(model => model.No_of___Rows)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.No_of___Positions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No_of___Positions)
                @Html.ValidationMessageFor(model => model.No_of___Positions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Connector___Orientation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Connector___Orientation)
                @Html.ValidationMessageFor(model => model.Connector___Orientation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact___Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact___Rating)
                @Html.ValidationMessageFor(model => model.Contact___Rating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voltage___Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voltage___Rating)
                @Html.ValidationMessageFor(model => model.Voltage___Rating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Package, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Package)
                @Html.ValidationMessageFor(model => model.Package)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pin_Spacing___or_pitch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pin_Spacing___or_pitch)
                @Html.ValidationMessageFor(model => model.Pin_Spacing___or_pitch)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
