@model IEnumerable<CDT.Repo.Optoelectronic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOM_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_line)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thermo_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detectable__light_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voltage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forward___Current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luminous___Intensity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peak_Wave__length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dominant___Wavelength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reverse___Voltage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewing_Angle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mounting_Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operating__Temperature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOM_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thermo_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detectable__light_Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voltage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forward___Current)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luminous___Intensity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peak_Wave__length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dominant___Wavelength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reverse___Voltage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viewing_Angle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mounting_Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operating__Temperature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
