@model CDT.Repo.Inductor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Inductor</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.BOM_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BOM_Number)
                    @Html.ValidationMessageFor(model => model.BOM_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BU, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BU)
                    @Html.ValidationMessageFor(model => model.BU)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Product_line, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product_line)
                    @Html.ValidationMessageFor(model => model.Product_line)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Site, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Site)
                    @Html.ValidationMessageFor(model => model.Site)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Thermo_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Thermo_Number)
                    @Html.ValidationMessageFor(model => model.Thermo_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Item_Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item_Description)
                    @Html.ValidationMessageFor(model => model.Item_Description)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category)
                    @Html.ValidationMessageFor(model => model.Category)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Part, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Part)
                    @Html.ValidationMessageFor(model => model.Part)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Part_Type, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Part_Type)
                    @Html.ValidationMessageFor(model => model.Part_Type)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Construction, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Construction)
                    @Html.ValidationMessageFor(model => model.Construction)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Operating_Temperature, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Operating_Temperature)
                    @Html.ValidationMessageFor(model => model.Operating_Temperature)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Impedence, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Impedence)
                    @Html.ValidationMessageFor(model => model.Impedence)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Inductance, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Inductance)
                    @Html.ValidationMessageFor(model => model.Inductance)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Capacitance, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Capacitance)
                    @Html.ValidationMessageFor(model => model.Capacitance)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Tol, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tol)
                    @Html.ValidationMessageFor(model => model.Tol)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Current_Rating, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Current_Rating)
                    @Html.ValidationMessageFor(model => model.Current_Rating)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DC_Resistance, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DC_Resistance)
                    @Html.ValidationMessageFor(model => model.DC_Resistance)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Shielding, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Shielding)
                    @Html.ValidationMessageFor(model => model.Shielding)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Frequency, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Frequency)
                    @Html.ValidationMessageFor(model => model.Frequency)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Mounting, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mounting)
                    @Html.ValidationMessageFor(model => model.Mounting)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Package_for_SMD, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Package_for_SMD)
                    @Html.ValidationMessageFor(model => model.Package_for_SMD)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Dimensions, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dimensions)
                    @Html.ValidationMessageFor(model => model.Dimensions)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
